Milestone #3/Node-RED/ML.json
[{"id":"525cc8fc.a64118","type":"tab","label":"ML","disabled":false,"info":""},{"id":"147044d3.493cab","type":"create dataset","z":"525cc8fc.a64118","name":"","path":"test/iris.data","saveFolder":"test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":320,"y":40,"wires":[["4dd6f18.8912b9"]]},{"id":"305fbae9.b2e776","type":"load dataset","z":"525cc8fc.a64118","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":270,"y":160,"wires":[["b4d64f61.576168"],["59137531.ee0ee4"]]},{"id":"33af377e.36b1f","type":"inject","z":"525cc8fc.a64118","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":40,"wires":[["147044d3.493cab"]]},{"id":"1744eef6.8dc919","type":"inject","z":"525cc8fc.a64118","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":160,"wires":[["305fbae9.b2e776"]]},{"id":"a0cd7bec.931d18","type":"inject","z":"525cc8fc.a64118","name":"start","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":400,"wires":[["af8e198.988a8e8","4fad067a.73749"]]},{"id":"4dd6f18.8912b9","type":"debug","z":"525cc8fc.a64118","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":40,"wires":[]},{"id":"59137531.ee0ee4","type":"debug","z":"525cc8fc.a64118","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":200,"wires":[]},{"id":"cea44d3.434d63","type":"debug","z":"525cc8fc.a64118","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":120,"wires":[]},{"id":"1b7e7b51.d636d5","type":"predictor","z":"525cc8fc.a64118","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":530,"y":380,"wires":[["cde58e2b.3e1168"],["17cdde10.9a3e2a"]]},{"id":"b4d64f61.576168","type":"decision tree classifier","z":"525cc8fc.a64118","name":"decision tree classifier trainer","savePath":"test/models","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":520,"y":160,"wires":[["cea44d3.434d63"],["59137531.ee0ee4"]]},{"id":"cde58e2b.3e1168","type":"assessment","z":"525cc8fc.a64118","name":"","score":"accuracy_score","x":570,"y":320,"wires":[["7e3c8b97.26109c"],["17cdde10.9a3e2a"]]},{"id":"af8e198.988a8e8","type":"load dataset","z":"525cc8fc.a64118","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":270,"y":320,"wires":[["cde58e2b.3e1168"],["17cdde10.9a3e2a"]]},{"id":"4fad067a.73749","type":"load dataset","z":"525cc8fc.a64118","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":270,"y":440,"wires":[["1b7e7b51.d636d5"],["17cdde10.9a3e2a"]]},{"id":"17cdde10.9a3e2a","type":"debug","z":"525cc8fc.a64118","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":440,"wires":[]},{"id":"7e3c8b97.26109c","type":"debug","z":"525cc8fc.a64118","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":320,"wires":[]}]
