Node-RED/Temporal-Flow.json
[{"id":"e8d4e8c8.8f0928","type":"tab","label":"NLP in Node-RED","disabled":false,"info":""},{"id":"595687e2.37d1c","type":"inject","z":"e8d4e8c8.8f0928","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["ce57df39.b92188","166683ec.77cae4"]]},{"id":"3ca830ac.83573","type":"functionx","z":"e8d4e8c8.8f0928","name":"stop-words","func":"msg.payload = require('stopword')\nconst oldString = 'The project must be complete within 45 hours'.split(' ')\nconst newString = msg.payload.removeStopwords(oldString)\nreturn {payload:newString};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":100,"wires":[["8cee501a.85d5e"]]},{"id":"ce57df39.b92188","type":"file in","z":"e8d4e8c8.8f0928","name":"req","filename":"C:\\Users\\kevin\\OneDrive\\Desktop\\req1.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":250,"y":100,"wires":[["3ca830ac.83573","92bd1cc4.b6121","b8195b8c.489898"]]},{"id":"8cee501a.85d5e","type":"file","z":"e8d4e8c8.8f0928","name":"req w/o stopwords","filename":"C:\\Users\\kevin\\OneDrive\\Desktop\\req1.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":590,"y":100,"wires":[["e2066a73.9a99c","83179f50.677418"]]},{"id":"e2066a73.9a99c","type":"ui_text","z":"e8d4e8c8.8f0928","group":"190bbab0.ff417d","order":2,"width":"12","height":"5","name":"","label":"Requirement without Stopwords","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":100,"wires":[]},{"id":"83179f50.677418","type":"link out","z":"e8d4e8c8.8f0928","name":"","links":["458fd653.ca3ff8"],"x":735,"y":140,"wires":[]},{"id":"458fd653.ca3ff8","type":"link in","z":"e8d4e8c8.8f0928","name":"","links":["83179f50.677418"],"x":55,"y":180,"wires":[["af96da2e.9e8ed8"]]},{"id":"4970577c.ba923","type":"ui_text","z":"e8d4e8c8.8f0928","group":"190bbab0.ff417d","order":3,"width":0,"height":0,"name":"","label":"Temporal or Non-Temporal","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":180,"wires":[]},{"id":"c06da011.91d77","type":"ui_text","z":"e8d4e8c8.8f0928","group":"190bbab0.ff417d","order":1,"width":0,"height":0,"name":"","label":"Original Requirement","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":220,"wires":[]},{"id":"af96da2e.9e8ed8","type":"function","z":"e8d4e8c8.8f0928","name":"temporal/non-temporal","func":"if (msg.payload=['seconds'|| 'minutes'||'hours'||'days'||'weeks'])\n{\n    msg.payload='temporal';\n}\nelse {\n    msg.payload='non-temporal'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":180,"wires":[["bafbbc67.28f71","4970577c.ba923"]]},{"id":"bafbbc67.28f71","type":"debug","z":"e8d4e8c8.8f0928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":220,"wires":[]},{"id":"92bd1cc4.b6121","type":"link out","z":"e8d4e8c8.8f0928","name":"","links":["c2c89042.7eac88"],"x":55,"y":240,"wires":[]},{"id":"a48102b5.663cc","type":"debug","z":"e8d4e8c8.8f0928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":280,"wires":[]},{"id":"c2c89042.7eac88","type":"link in","z":"e8d4e8c8.8f0928","name":"","links":["92bd1cc4.b6121"],"x":55,"y":280,"wires":[["a48102b5.663cc","c06da011.91d77"]]},{"id":"c546c39e.5ed6d8","type":"comment","z":"e8d4e8c8.8f0928","name":"Determing Temporal or Non-Temporal","info":"","x":190,"y":40,"wires":[]},{"id":"34740d54.9e6e92","type":"comment","z":"e8d4e8c8.8f0928","name":"Test Case","info":"","x":100,"y":340,"wires":[]},{"id":"166683ec.77cae4","type":"function","z":"e8d4e8c8.8f0928","name":"generate test case","func":"msg.payload=\"What are the temporal specifications of this requirement?\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":380,"wires":[["27b13ae3.ef64c6"]]},{"id":"b8195b8c.489898","type":"file","z":"e8d4e8c8.8f0928","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":360,"y":380,"wires":[["32ed4573.01c2ba"]]},{"id":"5a588840.ba7d58","type":"debug","z":"e8d4e8c8.8f0928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":380,"wires":[]},{"id":"32ed4573.01c2ba","type":"function","z":"e8d4e8c8.8f0928","name":"extraction of value","func":"if (msg.payload=[\"\"||\"45\"]){\n    msg.paylod=\"45 hours\";\n}\nelse{\n    msg.payload=\"non-temporal\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":380,"wires":[["5a588840.ba7d58","27b13ae3.ef64c6"]]},{"id":"27b13ae3.ef64c6","type":"ui_text","z":"e8d4e8c8.8f0928","group":"190bbab0.ff417d","order":3,"width":0,"height":0,"name":"Test Case","label":"What are the temporal specifications of this requirement?","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":520,"wires":[]},{"id":"190bbab0.ff417d","type":"ui_group","z":"","name":"ui-text","tab":"d82791ae.7d0cd8","order":1,"disp":false,"width":"12","collapse":false},{"id":"d82791ae.7d0cd8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
